*{
    margin: 0;
    left: 0;
    
}


body{
    background-color:#ffffff;
}

.header{
    padding: 10px;
    color:black;
    display: flex;
    justify-content:space-between;
   
}



.header span{
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jefes{
    
    margin: 5px;
    padding: 5px; 
    display:flex;
    gap: 30px;
    justify-content: center;
}

.director{
    margin-top: 5px;
    padding: 8px;
    color: black;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    
}

.director span{
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.director h3{
    font-weight: 200;
}

.director:hover{
    padding: 15px;
    background-color: rgb(17, 17, 17);
    color: white;
    transition: 1s;
}

.jefe_estudios{
    margin-top: 5px;
    padding: 8px;
    color: black;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    opacity: .9;
}

.jefe_estudios span{
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.jefe_estudios h3{
    font-weight: 200;
}

.jefe_estudios:hover{
    padding: 15px;
    background-color: rgb(17, 17, 17);
    color: white;
    transition: 1s;
}



.tablas{
    margin: 5px;
    padding: 5px; 
    display:flex;
    gap: 30px;
    justify-content: center;
    
}

.tabla_profesores{
    margin-top: 5px; 
    padding: 5px;
    display: flex;
    flex-direction: column;
    
}

.tabla_profesores table{
    text-align: center;
}

.tabla_ciclos{
    margin-top: 5px; 
    padding: 5px;  
    display: flex;
    flex-direction: column; 
}

.tabla_ciclos h3{
    text-align: center;
}

.tabla_ciclos table{
    text-align: center;
    
}

.tablas .tabla_ciclos table td{
    padding: 5px;
}

.lista{
    margin: 20px;
    padding: 5px; 
    margin-left: 36%;
    width: fit-content;
}


.lista_ciclos{
    margin: 5px; 
    padding: 5px; 
    display: flex;  
    flex-direction: column;
}  

.lista_ciclos h3{
    text-align: center;
}

.lista_ciclos p{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
}

.lista_ciclos ol a{
    text-decoration: none;
    color: black;
}

.lista_ciclos ol a:hover{
    color: rgb(60, 60, 255); 
}

.lista_ciclos ol{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style:square;
}

.formulario{
    border: black solid 1px;
    margin: 7px;
    padding: 5px; 
    text-align: center;
    width: fit-content;
    margin-left: 38%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black ;
}

.formulario form{
    display: flex;
    flex-direction: column;
    
}

.formulario fieldset{
    border: black solid 1px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}

.formulario label{
    margin-left: 3px;
}

.formulario input{
    margin-left: 5px;
    width: 150px;
}

.enlace{
    
    margin: 5px;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.enlace a{
    text-decoration: none;
    color: black;
}

.enlace a:hover{
    color: rgb(60, 60, 255);
}

